/* Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers|Bree+Serif|Zilla+Slab|Bebas+Neue|Barlow+Semi+Condensed|Luckiest+Guy|Amatic+SC|&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: #11181f;
}

/* body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.6);
    box-shadow: inset 120px 100px 200px black;
} */


.mobile-nav {
    display: none;
}

.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    color: white;
    font-family: 'Bebas Neue', cursive;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 5vh;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-bar a:hover {
    color: rgb(255, 30, 0);
}

.nav-bar img{
    position: fixed;
    left: 0;
    top:0;
}

#register-form input{
    color: white;
}

.container {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15vh;
}
.container h2 {
}

.text-white {
    font-family: 'Bree Serif';
}

.success {
    display: none;
    border-radius: 10px;
    border: rgb(123, 182, 123) solid;
    background: rgb(67, 173, 67,0.3);
    color: rgb(151, 224, 151);
    padding: 10px;
}
.error {
    display: none;
    border-radius: 10px;
    padding: 10px;
    border: rgb(136, 6, 6) solid;
    color: rgb(145, 3, 3);
    background: rgb(231, 141, 141);
}
@media(max-width: 720px) {
    body {
        text-align: center;
        overflow-x: hidden;
    }
    body::after {
        height: 130vh;
        width: 100%;
    }
    .nav-bar {
        display: none;
    }
    .mobile-nav {
        display: block;
        align-items: center;
        background: black;
        z-index: 3;
    }
    #toggle {
        display: none;
    }
    label {
        margin: 10px 20px;
        cursor: pointer;
    }
    .mobile-menu {
        display: none;
        text-align: center;
        width: 100%;
    }
    .mobile-menu a {
        display: block;
        color: white;
        cursor: pointer;
        margin-top: 10px;
    }
    #toggle:checked + .mobile-menu {
        display: block;
    }
    .row {
        margin: 0 10%;
    }
    .container {
        margin-top: 5vh;
    }
    .container h2 {
        text-decoration: none;
    }
}