/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers|Barlow+Semi+Condensed|Roboto|Luckiest+Guy|Amatic+SC|&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(8, 7, 8);
    overflow-x: hidden;
}

.cord-hr {
    margin: auto 35vw;
}

.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    color: white;
    font-family: 'Bebas Neue', cursive;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 5vh;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    transition: 0.3s;
}

.nav-bar a:hover {
    color: rgb(255, 30, 0);
}

.nav-bar img{
    position: fixed;
    left: 0;
    top:0;
}

.coordinators {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 25vh 20vw;
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
}

.coordinators-hr {
    margin: auto 25vw;
}

.coordinators img {
    width: 70%;
    border-radius: 50%;
    margin: 2vh 2vw;
    transition: 0.2s;
}

.coordinators img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.coordinators-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.coding-hr {
    margin: auto 27vw;
}

.coding {
    margin-top: 10vh;
}

.coding-profile {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.quiz-hr {
    margin: auto 27vw;
}

.quiz-profile {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.it-quiz {
    margin-top: 10vh;
}

.it-manager {
    margin-top: 10vh;
}

.it-manager-hr {
    margin: auto 27vw;
}

.designer {
    margin-top: 10vh;
}

.designer-hr {
    margin: auto 24vw;
}

.gaming {
    margin-top: 10vh;
}

.gaming-hr {
    margin: auto 25vw;
}

.shivansh img, .mats img, .dhanush img {
    height: 40%;
    width: 40%;
}

#particles-js {
    background: rgb(8, 7, 8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 870vh;
    z-index: -1;
}

.hidden-overlay {
    top: 10vh;
    left: 0;
    opacity: 0;
    position: absolute;
    background-color: red;
    width: 100%;
    height: 850vh;
    z-index: 10;
} 

@media(max-width:720px) {
    html, body {
        height: 100%;
        margin: 0
    }

    body {
        background: black;
        text-align: center;
        overflow-x: hidden;
    }
    #logo {
        margin-top: 5%;
        height: 8%;
        width: 25%;
    }
    .nav-bar {
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    .nav-bar a {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    hr {
        display: none;
    }
    .coordinators {
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 10vh 3vw;
    }

    .coordinators-profile {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    #particles-js {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 600vh;
        z-index: -1;
    }
    .hidden-overlay {
        height: 550vh;
    }
}